{% extends "webApp/base.html" %}

{% block title %}
    Change Password
{% endblock %}

{% block content %}

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
            <a href="/">
                <button class="btn btn-secondary">Go back</button>
             </a>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endif %}
    <br>
    <form method="post" class="from-group">
        {% csrf_token %}
        {{ form }}
        <br>
        <button type="submit" class="btn btn-success">Change it</button>
    </form>


{% endblock %}