{% extends "webApp/base.html" %}

{% block title %}
    Login Here
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}


{% block public_content %}
    <form method="post" class="from-group">
        {% csrf_token %}
        {{ form|crispy }}
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>

    <img class="logo-img" src="{% static 'webApp/theme-img-small.png' %}" alt="theme-img">

{% endblock %}