{% extends "webApp/base.html" %}

{% block title %}
    Login Here
{% endblock %}

{% load crispy_forms_tags %}
{% load static %}


{% block public_content %}

    {% if messages %}
    {% for message in messages %}
        {% if message.tags == "success" %}
            <div class="alert alert-success" role="alert">{{ message }}</div>
        {% elif message.tags == "error" %}
            <div class="alert alert-danger" role="alert">{{ message }}</div>
        {% endif %}
    {% endfor %}
    {% endif %}

    <form method="post" class="from-group">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="input-group-append">
            <input type="text" name="username" placeholder="Username..." class="form-control">
        </div>
         <br>
        <div class="input-group-append">
            <input type="password" name="password" placeholder="Password..." class="form-control">
        </div>
        <p>Don't have an account? Create one <a href="/register">here</a></p>
        <p>Forget Your Password ? <a href="/reset_password">Click here</a></p>
        <button type="submit" class="btn btn-success">Login</button>
    </form>


    <img class="logo-img" src="{% static 'webApp/theme-img-small.png' %}" alt="theme-img">

{% endblock %}