<html>
  <head>
    {% load static %}
    <title>{% block title %}Comunication_LTD{% endblock %}</title>
      {% if user.is_authenticated == false %}
        <meta http-equiv="refresh" content="1; URL=/login" />
      {% endif %}
  </head>
  <link rel="stylesheet" href="{% static 'webApp/base.css' %}" />
  <body>
    <div id="content, name=" content, class="main">
          <h1 className="page-title">{% block pageTitle %}{% endblock %}</h1>
          <hr/>
          {% if user.is_authenticated %}
            {% block content %} {% endblock %}
          {% endif %}

          {% block public_content %} {% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>