{% extends 'webApp/base.html' %}
{% block title %}
Communication_LTD{% endblock %}
{% block pageTitle %}Chat{% endblock %}
{% block public_content %}

{% if messages %}
{% for message in messages %}
    {% if message.tags == "success" %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
    {% elif message.tags == "error" %}
        <div class="alert alert-danger" role="alert">{{ message }}</div>
    {% endif %}
{% endfor %}
{% endif %}

{% autoescape on %}
<div class="form-control">
    {% for msg in chat_msgs%}
    <p>{{ msg.user_name }}: {{ msg.message_box }}</p>
    {% endfor %}
</div>
{% endautoescape %}
<form method="post" ,action="#">
    {% csrf_token %}
    <div class="mb-3">
        <h1><label for="exampleFormControlTextarea1" class="form-label">Message</label></h1>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="user_message"
                  maxlength='100' required></textarea>
    </div>
    <button type="submit" class="btn btn-dark" name="submit" value='submit_data'>Submit</button>
    <button type="reset" class="btn btn-light" name="cancel" value='cancel_form'>Cancel</button>
</form>
{% endblock %}