{% extends 'webApp/base.html' %} {% block title %}Comunication_LTD{% endblock %}
{% block pageTitle %}Comunication_LTD{% endblock %} 



{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<form method="post" ,action="#">
  {% csrf_token %}
  <table style="width: 100%">
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
    <tr>
      <td>user name</td>
      <td><input type="text" name="user-name" required /></td>
    </tr>
    <tr>
      <td>full name</td>
      <td><input type="text" name="full-name" required /></td>
    </tr>
    <tr>
      <td>email</td>
      <td><input type="text" name="email" required /></td>
    </tr>
    <tr>
      <td>password</td>
      <td><input type="password" name="password" required /></td>
    </tr>
    <tr>
      <td>confirm password</td>
      <td><input type="password" name="password_confirm" required /></td>
    </tr>
  </table>
  <button type="submit" name="register_submit" value="register_submit">
    Submit form
  </button>
</form>
{% endblock %}
